.top{
    background-color: black;
    color: orange;
    height: 50px;
    padding: 10px;
    position: fixed;
    z-index: 1;
}
.top a{
    color: orange;
    
}
.top a:hover{
    color:chocolate;
    text-decoration: none;
    font-size: 120%;
}
h3{
    text-align: left;
}
.intro{
    background-color: orange;
    text-align: center;
    padding-top: 50px;;
    padding-bottom: 20px;
    /* margin-top: 20px; */
}
.DP{
    width: 40%;
    margin-top: 2%;
    border-radius: 50%;
    border: 5px black solid;
    border-style: inset;
}
.contact{
    background-color: black;
    color: orange;
    text-align: center;
    padding: 20px;
}
i{
    color: orange;
    border: 1px ;
    margin: 2px;
    width: 60px;
    font-size: 30px;
}
.Intermediate{
    background-color: orange;
    border: 1px solid black;
    border-radius: 1%;
    padding: 10px;
    margin-bottom: 10px;
}
.engg a{
    color:orange;
    text-decoration: none;

}
.engg a:hover{
    font-size: 120%;
    text-decoration: none;
    color:orange
}
.engg, .ssc{
    background-color: black;
    border: 1px solid orange;
    border-radius: 1%;
    color: orange ;
    padding: 10px;
    margin-bottom: 10px;
}
.title{
    padding-top: 5px;
    text-align: center;
    font-weight: 700;
}
.skills{
    background-color: orange;
    text-align: center;
}
.skills p{
    background-color: black;
    color: orange;
}